.box{
    border: 1px solid black;
    position: fixed;
    padding: .4rem;
    margin: .5rem .4rem;
    /* border-top-left-radius: .5rem; */
    border-radius: .5rem;
    display: none;
}

.button{
    height: 2.2rem;
}

.text{
    margin: 0px ;
}

