.label-text{
    display: block;
}
.input-card{
    display: block;
}
.options-card{
    
    height: 1.6rem;
    width: 11.5rem;
}
.radio-card{
    margin-top: 1rem;
}
.form-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-status{
    display: block;
    margin-top: 1rem;
}
.checkbox{
    margin-top: .7rem;
}
.button{
    height: 1.8rem;
    width: 4.5rem;
    margin-top: .8rem;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    background-color: rgb(117, 117, 223);
}
#male{
    margin-left: 0px;
}
.gender{
    margin-bottom: 0px;
}
.error{
    color: red;
    font-size: .7rem;
    margin-top: 0px;
}



